{{! Client-side Mustache template for rendering subscriptions in the "invite user" form.}}
<div class="invite-stream-controls">
    <button class="btn btn-link" type="button" id="invite_check_all_button">{{t "Check all" }}</button> |
    <button class="btn btn-link" type="button" id="invite_uncheck_all_button">{{t "Uncheck all" }}</button>
</div>
<div id="invite-stream-checkboxes" class="new-style">
  <!-- DRC MODIFICATION -->
  <ul id="invite_rows" class="invite_rows"></ul>

  <!-- DRC MODIFICATION -->
</div>
